:root {
  --webpage-background-color: #121212; //
  --bg-color: #222524; // eerie black
  --text-color: #63ccca; // robin egg blue
  --secondary-color: #42858c; // dark cyan
  --tertiary-color: #5da399; // keppel
  --accent-color: #3066be; // true blue
  --button-text-color: black; // black
}
