body {
  background-color: #121212;
  color: var(--text-color);
}

button {
  background-color: var(--secondary-color);
  color: var(--button-text-color);

  &:hover {
    background-color: var(--tertiary-color);
    cursor: pointer;
  }
}

a {
  color: var(--accent-color);

  &:hover {
    color: var(--tertiary-color);
  }
}

.bg-grey {
  background-color: var(--bg-color);
  border-radius: 8px;
  padding: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
